<#--
 * 저널 꿈(jrnl_dream) > 등록/수정 Template
 * @included_in : _jrnl_dream_reg_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_dream_reg_header_template">
    <input type="hidden" name="postNo" value="{{postNo}}">
    <input type="hidden" name="jrnlDayNo" value="{{jrnlDayNo}}">

    <#--begin::Row-->
    <div class="row d-flex mb-8">
        <div class="col-2">
            <label class="d-flex align-items-center mb-2" for="title">
                <span class="text-gray-700 fs-6 fw-bolder">저널 일자</span>
            </label>
        </div>
        <div class="col-2 fs-6">
            <i class="bi bi-calendar3"></i> {{stdrdDt}}
        </div>
    </div>
    <#--begin::Row-->
    <div class="row d-flex mb-8">
        <div class="col-12">
            <label class="d-flex align-items-center mb-2" for="title">
                <span class="text-gray-700 fs-6 fw-bolder">제목</span>
                <span class="text-gray-500 fs-9">(최대 50자)</span>
            </label>
        </div>
        <div class="col-lg-2">
            <select name="ctgrCd" id="ctgrCd" class="form-select form-select-solid">
                <option value="">--글분류--</option>
            </select>
        </div>
        <div class="col-lg-10">
            <input type="text" class="form-control required" name="title" maxlength='50' id="title" value="{{title}}" placeholder="제목" />
            <div id="title_valid_span"></div>
        </div>
    </div>
</script>