<#--
 * 저널 일자(jrnl_day) 등록/수정 Template
 * @included_in : jrnl_day_page.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_dream_tag_list_template">
    {{#each this}}
         <span class="ctgr-span ctgr-gray cursor-pointer opacity-hover" onclick="Tag.search({{tagNo}});"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="해당 태그로 게시물 목록을&#10;필터링합니다.">
            <span class="ps-1">&#35;</span><span class="border-bottom text-primary fw-normal">{{tagNm}}</span>
            <span class="fs-9 text-noti fw-normal">[{{size}}]</span>
        </span>
    {{/each}}
</script>
