<#--
 * 레이아웃 > 파일시스템 참조 모듈
 -->

<script type="text/x-handlebars-template" id="flsys_ref_template">
    <div>
        <i class="fas fa-file-download fs-15 me-3"></i>
        {{filePath}}
        <input type="hidden" name="flsysRefList[{{refCnt}}].filePath" value="{{filePath}}">
        <button type="button" class="badge badge-light btn-primary badge-outlined mx-2"
                onclick="Flsys.delRef(this);"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message "bs.tooltip.file.del"/>">
            삭제
        </button>
    </div>
</script>