/.gradle/
/.idea/
/build/
/config/application.yml
/gradle/
/src/main/resources/application-local.yml
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml
/src/test/resources/application-test.yml
/src/main/resources/static/metronic/*
!/src/main/resources/static/metronic/.metronic_v8.0.23
!/src/main/resources/static/metronic/.metronic_v8.2.5
/src/test/resources/*
/flsys/*
!/flsys/.file_system_path.md
/log/*
!/log/.logfile_path.md
/upfile/public/*
/upfile/secured/*
