/**
 * pdf 출력용 css 내용을 정의한다.
 * @auther : nichefish
 */

/** ----------------------- */

#pdf-body {
    width: 1280px;
    background-color: #FFFFFF;

    * {
        font-family: Malgun Gothic, serif;
    }

    table {
        border: 1px solid #000000;

        th {
            border: 1px solid #000000;
            padding: 5px;
            vertical-align: middle;
        }

        td {
            border: 1px solid #000000;
            padding: 5px;
            vertical-align: middle;
        }

        .tbl-header {
            text-align: center;
            background-color: #eeeeee;
            font-weight: 400;
        }
    }

    .page {
        width: 100%;
        font-size: 22px;
        color: #000000;

        .subTitle {
            font-size: 25px;
            margin-bottom: 10px;
        }

        section {
            margin-bottom: 60px;

            table {
                width: 100%;
            }
        }
    }

    .rpt-cover {
        text-align: center;

        .rpt-title {
            font-size: 50px;
            margin-top: 540px;
            padding: 30px 165px;
            border: 1px solid black;
            display: inline-block;
            width: 1032px;
        }

        .rpt-date {
            margin-top: 350px;
            font-size: 45px;
        }

        .rpt-footer {
            font-size: 40px;
            margin-top: 250px;
        }
    }

    .rpt-header {
        .right {
            float: right;
            color: red;
            padding: 5px;
            border: 1px solid black;
            width: 300px;
        }
    }
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0 !important;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}