<#--
 * 저널 일기(jrnl_diary) > 상세 Template
 * @included_in : _jrnl_diary_tag_dtl_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_diary_tag_dtl_modal_template">
    {{#each this}}
        {{^if (equals this.mnth (lookup @root._locals "prevMnth"))}}
            <div class="d-flex-center mt-6 mb-4 fs-5 text-dark">{{yy}}년 {{mnth}}월</div>
        {{/if}}

        <div class="row jrnl-item">
            <div class="col-1 d-flex-align-center flex-column py-3 border-2 border-gray-300 border-end ps-6 me-4 w-130px h-75 gap-2">
                {{> jrnl_day_mdf_btn_partial this postNo=this.jrnlDayNo}}
            </div>
            <div class="col py-3 jrnl-diary-cn {{#ifYn imprtcYn}}bg-secondary{{/ifYn}}">
                {{> jrnl_diary_cn_partial this collapse="collapse-4"}}
            </div>
            <div class="col-1 border-2 border-gray-300 border-end h-75 w-10px">&nbsp;</div>
            <div class="col-1 py-3 d-flex-between w-125px gap-1">
                {{> comment_reg_btn_partial this contentType="JRNL_DIARY"}}
                <div class="col-1 border-2 border-gray-300 border-end w-10px">&nbsp;</div>
                {{> jrnl_diary_mdf_btn_partial this}}
            </div>
        </div>

        {{!-- 현재 월을 previousMnth 변수로 저장 --}}
        {{set "prevMnth" this.mnth}}
    {{/each}}
</script>