<#--
  -- 파일시스템 메타(flsys_meta) > 상세 Modal Template
  -- @included_in : cl_cd_list
  -->
<script type="text/x-handlebars-template" id="flsys_meta_dtl_template">
    <input type="hidden" name="filePath" value="{{filePath}}">
    <input type="hidden" name="upperFilePath" value="{{upperFilePath}}">
    <!--begin::Input group-->
    <div class="row mb-2">
        <div class="col-xl-2 col-2 col-form-label">
            <label class="fs-6 fw-bold mb-2">제목</label>
        </div>
        <div class="col-xl-7 col-6 col-form-label">
            {{title}}
        </div>
    </div>
    {{#if (exists tagList)}}
        <div class="row mb-2">
            <#--begin::Row-->
            <div class="col-xl-2 col-2 col-form-label">
                <label class="fs-6 fw-bold mb-2">태그</label>
            </div>
            <div class="col-xl-10 col-form-label text-start" id="tagSpan">
                {{#tagList}}
                    <span class="ctgr-span ctgr-gray">
                        <span class="ps-1">&#35;</span><u class="text-primary fw-normal">{{boardTag}}</u>
                    </span>
                {{/tagList}}
            </div>
        </div>
    {{/if}}
</script>