<#--
* 저널 일기(jrnl_diary) 목록 - 등록 버튼 partial
 * @included_in : jrnl_day_page.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_diary_reg_btn_partial">
    <button type="button" class="btn btn-sm btn-light-primary btn-outlined ps-4 pe-3 py-2 cursor-pointer"
            onclick="dF.JrnlDiary.regModal({{postNo}}, '{{stdrdDt}}', '{{jrnlDtWeekDay}}');"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="저널 일기 <@spring.message "bs.tooltip.modal.reg"/>">
        <i class="bi bi-book fs-4 pe-1"></i>
        <@spring.message "jrnl.diary.reg"/>
    </button>
</script>
