<#--
 * 저널 일기(jrnl_diary) 목록 - 수정 버튼 partial
 * @included_in : jrnl_day_page.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_day_mdf_btn_partial">
    <div class="d-flex-center gap-2">
        <i class="bi bi-calendar3"></i>
        {{stdrdDt}}
        {{#if (exists jrnlDtWeekDay)}}
            <span class="fs-8 text-gray-600">({{jrnlDtWeekDay}})</span>
        {{/if}}
    </div>
    <button type="button" class="btn btn-sm btn-light-primary btn-outlined py-1 px-2 cursor-pointer"
            onclick="dF.JrnlDay.mdfModal({{postNo}});"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message 'jrnl.day'/> <@spring.message 'bs.tooltip.modal.mdf'/>">
        <i class="bi bi-pencil-square p-0"></i>
    </button>
</script>
