<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nicheblog.dreamdiary.domain.jrnl.day.repository.mybatis.JrnlDayMapper">

    <!-- 삭제 데이터 조회 -->
    <select id="getDeletedByPostNo" resultType="io.nicheblog.dreamdiary.domain.jrnl.day.model.JrnlDayDto">
        /* JrnlDayMapper.getDeletedByPostNo */
        SELECT
            day.post_no AS postNo,
            day.yy AS yy,
            day.mnth AS mnth
        FROM jrnl_day day
        WHERE day.post_no = #{postNo}
    </select>
</mapper>