<#--
 * 게시판 > 태그 상세 Template
 -->

<script type="text/x-handlebars-template" id="tag_admin_dtl_template">
    <#--begin::Head-->
    <div class="d-flex align-items-center justify-content-between">
        <div></div>
        <h5 class="modal-title">
            <div class="btn btn-sm bg-secondary btn-light-primary"
                 onclick="TagAdmin.addPropertyModal({{tagNo}});"
                 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="전체 태그 목록 팝업을&#10;호출합니다.">
                <i class="fas fa-plus"></i>
                <span class="border-bottom">
                    태그 속성 추가
                </span>
            </div>
        </h5>
    </div>
    <div id="">
        <!--Handlebars template goes in here-->
    </div>
    <div class="separator"></div>
    <!--end::Head-->
</script>