<#--
  -- 활동 로그 목록 화면
  -->

<script type="text/x-handlebars-template" id="flsys_home_header_path_template">
    <!-- breadcrumb -->
    <ol class="breadcrumb text-muted fs-6 fw-semibod"></ol>
    <!-- breadcrumb -->
    <ol class="breadcrumb text-muted fs-6 fw-semibod">
        {{#each filePathStrList}}
            <li class="breadcrumb-item text-muted">{{.}}</li>
        {{/each}}
    </ol>
    <#--begin::Separator-->
    <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
    <!--end::Separator-->
    <#--begin::Description-->
    <small class="text-muted fs-7 fw-bold my-1 ms-1">${(siteAcsInfo.acsPageNm)!}</small>
    <!--end::Description-->
</script>