<#--
  -- 저널 일기(jrnl_diary) > 등록/수정 에디터 상단 Template
  -- @included_in : _jrnl_diary_reg_modal.ftlh
  -->

<script type="text/x-handlebars-template" id="jrnl_diary_reg_header_template">
    <input type="hidden" name="postNo" value="{{postNo}}">
    <input type="hidden" name="jrnlDayNo" value="{{jrnlDayNo}}">

    <!--begin::Input group-->
    <div class="row row-cols-lg-2 mb-4">
        <div class="col-xl-2 col-2 text-center">
            <label class="col-form-label fs-6 fw-bold">저널 일자</label>
        </div>
        <div class="col-xl-3 col-5 col-form-label">
            <i class="bi bi-calendar"></i> {{jrnlDt}}
        </div>
    </div>
    <!--begin::Input group-->
    <div class="row row-cols-lg-2 mb-4">
        <div class="col-xl-2 col-2 text-center">
            <label class="col-form-label fs-6 fw-bold mb-2">제목</label>
        </div>
        <div class="col-xl-10 col-5">
            <input class="form-control form-control-solid" name="title" id="title"  value="{{title}}" placeholder="제목" />
        </div>
    </div>
</script>