<#--
 * 저널 일기(jrnl_diary) > 등록/수정 Template
 * @included_in : _jrnl_diary_reg_modal.ftlh
 * TODO: 작업중
 -->

<script type="text/x-handlebars-template" id="jrnl_diary_reg_template">
    <#--begin::Row-->
    <div class="row">
        <div id="board_tag_list_div">
            <label class="mb-2">
                <span class="text-gray-700 fs-6 fw-bolder">태그</span>
                <span class="text-gray-500 fs-9 mx-2">※ 태그는 최대 10개, 50자까지 추가 가능합니다.</span>
            </label>
        </div>
        <div class="col-xl-12 text-sm-start" id="tagSpan">
            <input name="tag.tagListStr" id="tagListStr" class="form-control form-control-solid no-space" autocomplete="off" value="{{tag.tagListStr}}"/>
        </div>
    </div>
</script>