/**
 * 사이트 공통 css 내용을 정의한다.
 * @auther : nichefish
 */

@use 'main';

@use 'components/animation';
@use 'components/button';
@use 'components/cursor';
@use 'components/icon';
@use 'components/tag';

@use 'commons-respns';

/** ----------------------- */

.collapse:not(.show) {
    display: none !important;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-center {
    vertical-align: center;
}

.fs-small {
    font-size: small !important;
}

.d-justify-center {
    display: flex;
    justify-content: center;
}
.d-align-center {
    display: flex;
    align-items: center;
}
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fs-x-small {
    font-size: x-small !important;
}

.pt-10px {
    padding-top: 10px;
}

.w-110px {
    width: 110px !important;
}

.h-85 {
    height: 85% !important;
}

/* 단어 끊는 것 클래스로 추가 */
.wb-keepall {
    word-break: keep-all !important;
}

.table-tmplat {
    table, th, td {
        border: solid 1px;
    }

    th {
        font-weight: 600 !important;
        text-align: justify;
        line-height: 0;

        &:before {
            content: "";
            display: inline-block;
            width: 100%;
        }

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }

    a {
        cursor: pointer;
    }
}

/* 작은 버튼이 없어서 추가 */
.btn-xs {
    padding: 0.5rem 1rem !important;
}

/* 폰트 볼드 적용이 안되서 오버라이트*/
.fw-bold {
    font-weight: bold !important;
}

.opacity-hover {
    opacity: 0.85 !important;

    &:hover {
        opacity: 1 !important;
    }
}

.opacity-hover-50 {
    opacity: 0.5 !important;

    &:hover {
        opacity: 1 !important;
    }
}

/* 상단 고정 목록 행 배경 */
.bg-fxd-list {
    background-color: #f9f9f8 !important;
}

/* 상단 고정 목록 행 제목 */
.title-fxd {
    color: #ff4e59 !important;
    font-weight: bold !important;
}

/* 중요 카테고리 */
.ctgr-imprtc {
    border: 1px solid #ffc6c9 !important;
    background-color: #ffe3e4 !important;
    color: #ff4e59 !important;
}

/* 중요 카테고리 : 파랑 */
.ctgr-primary {
    border: 1px solid #009EF7 !important;
    background-color: #F1FAFF !important;
    color: #009EF7 !important;
}

/* 일반 카테고리 */
.ctgr-gray {
    border: 1px solid #e3e3e3 !important;
    background-color: #f5f5f5 !important;
    color: #666 !important;
}

/* 성공 카테고리 */
.ctgr-success {
    border: 1px solid #64DD17 !important;
    background-color: #F1FAFF !important;
    color: #64DD17 !important;
}

/* 정보 카테고리 */
.ctgr-info {
    border: 1px solid #c269da !important;
    background-color: #edccff !important;
    color: #c269da !important;
}

/* textarea 대체용 text-div (simple) */
.div-textarea-smp {
    overflow-y: auto;
    white-space: pre-line;
}

/* textarea 대체용 text-div */
.div-textarea {
    padding: 10px;
    border: 1px solid #E4E6EF;
    border-radius: 0.475rem;
    background-color: #EFEFEF;
    overflow-y: auto;
    white-space: pre-line;
}

/* textarea 대체용 text-div */
.div-text-example {
    padding: 15px 10px 10px 10px;
    border: 1px solid #E4E6EF;
    border-radius: 0.475rem;
    background-color: #EFEFEF;
    overflow-y: auto;
}

/* textarea 대체용 text-div :: 흰색 */
.div-textarea-white {
    padding: 10px;
    border: 1px solid #E4E6EF;
    border-radius: 0.475rem;
    background-color: #FFFFFF;
    overflow-y: auto;
    white-space: pre-line;
}

/* text-div용 높이 */
.div-height-1 {
    height: 42px;
    white-space: nowrap !important;
}

.min-h-42px {
    min-height: 42px;
}

/* 테이블 비율 고정 */
.table-fixed {
    table-layout: fixed;
}

/* 사이드바 색상 고정 */
#kt_aside {
    background-color: rgb(36, 36, 36);
}

/* strikethrough */
.strikethrough {
    text-decoration: line-through;
}

/* bootstrap modal-xxl 추가 */
.modal-dialog.modal-xxl {
    max-width: 75%;
    width: auto;
}