/**
 * 사이트 공통 css 내용을 정의한다.
 * @auther : nichefish
 */

/** ----------------------- */
@media (min-width: 992px) {
    [data-kt-app-header-fixed=true][data-kt-app-sidebar-fixed=true][data-kt-app-sidebar-push-header=true] .app-header,
    [data-kt-app-header-fixed=true][data-kt-app-sidebar-sticky=on][data-kt-app-sidebar-push-header=true] .app-header {
        left: 0 !important;
    }
    body:not([data-kt-app-header-fixed=true])[data-kt-app-sidebar-fixed=true][data-kt-app-sidebar-push-header=true] .app-header,
    body:not([data-kt-app-header-fixed=true])[data-kt-app-sidebar-sticky=on][data-kt-app-sidebar-push-header=true] .app-header {
        left: 0 !important;
    }
}

.collapse:not(.show) {
    display: none !important;
}

/** 모든 input, select, checkbox, a에 cursor-pointer 처리 */
input[type="text"], input[type="password"], input[type="checkbox"], select, a {
    cursor: pointer;
}

/** daterangepicker 팝업이 다른 팝업 뒤쪽으로 출력되는 문제 처리 */
.daterangepicker {
    z-index: 9999 !important;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-center {
    vertical-align: center;
}

.fs-small {
    font-size: small !important;
}

.fs-x-small {
    font-size: x-small !important;
}

.pt-10px {
    padding-top: 10px;
}

.w-5 {
    width: 5% !important;
}
.w-8 {
    width: 8% !important;
}
.w-10 {
    width: 10% !important;
}
.w-12 {
    width: 12% !important;
}
.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-85 {
    width: 85% !important;
}
.w-110px {
    width: 110px !important;
}

/* 폰트 추가 적용 하려고 오버라이트 */
html, body {
    font-family: NotoSans, Poppins, Helvetica, "sans-serif";
}

/* 공지/알림 등 텍스트 색깔 (주황색) */
.text-noti {
    color: #ed7000 !important;
}
.bg-noti {
    background-color: #ed7000 !important;
}
.border-noti {
    border-color: #ed7000 !important;
}

/* 대화 텍스트 색깔 (연파란) */
.text-dialog {
    color: #5c8fb0 !important;
}
.bg-dialog {
    background-color: #5c8fb0 !important;
}
.border-dialog {
    border-color: #5c8fb0 !important;
}

/* 단어 끊는 것 클래스로 추가 */
.wb-keepall{
    word-break: keep-all !important;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-tmplat {
    table,th,td {
        border: solid 1px;
    }
    th {
        font-weight: 600 !important;
        text-align: justify;
        line-height: 0;
        &:before {
            content: "";
            display: inline-block;
            width: 100%;
        }
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }
    a {
        cursor: pointer;
    }
}

.text-underline-dotted {
    text-decoration: underline dotted;
}

/* 작은 버튼이 없어서 추가 */
.btn-xs {
    padding: 0.5rem 1rem !important;
}

/* 폰트 볼드 적용이 안되서 오버라이트*/
.fw-bold {
    font-weight: bold !important;
}

.opacity-hover {
    opacity: 0.85 !important;
    &:hover {
        opacity: 1 !important;
    }
}
.opacity-hover-50 {
    opacity: 0.5 !important;
    &:hover {
        opacity: 1 !important;
    }
}

/* 상단 고정 목록 행 배경 */
.bg-fxd-list {
    background-color:#f9f9f8 !important;
}

/* 상단 고정 목록 행 제목 */
.title-fxd {
    color:#ff4e59 !important;
    font-weight:bold !important;
}

/* 중요 카테고리 */
.ctgr-imprtc {
    border: 1px solid #ffc6c9 !important;
    background-color: #ffe3e4 !important;
    color: #ff4e59 !important;
}
/* 중요 카테고리 : 파랑 */
.ctgr-primary {
    border: 1px solid #009EF7 !important;
    background-color: #F1FAFF !important;
    color: #009EF7 !important;
}
/* 일반 카테고리 */
.ctgr-gray {
    border: 1px solid #e3e3e3 !important;
    background-color: #f5f5f5 !important;
    color: #666 !important;
}
/* 정보 카테고리 */
.ctgr-info {
    border: 1px solid #c269da !important;
    background-color: #edccff !important;
    color: #c269da !important;
}

/* 깜빡임 (빠름) */
.blink {
    animation: blink-effect 0.75s step-end infinite;
    -webkit-animation: blink 0.75s linear infinite;
}
/* 깜빡임 (느림) */
.blink-slow {
    animation: blink-effect 1.5s step-end infinite;
    -webkit-animation: blink 1.5s linear infinite;
}
/* 깜빡임 (빠름) */
.blink-fast {
    animation: blink-effect 0.4s step-end infinite;
    -webkit-animation: blink 0.4s linear infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 100%; }
    33% { opacity: 85%; }
    66% { opacity: 70%; }
    100% { opacity: 85%; }
}

/* textarea 대체용 text-div (simple) */
.div-textarea-smp {
    overflow-y:auto;
    white-space:pre-line;
}

/* textarea 대체용 text-div */
.div-textarea {
    padding:10px;
    border:1px solid #E4E6EF;
    border-radius: 0.475rem;
    background-color:#EFEFEF;
    overflow-y:auto;
    white-space:pre-line;
}

/* textarea 대체용 text-div */
.div-text-example {
    padding:15px 10px 10px 10px;
    border:1px solid #E4E6EF;
    border-radius: 0.475rem;
    background-color:#EFEFEF;
    overflow-y:auto;
}

/* textarea 대체용 text-div :: 흰색 */
.div-textarea-white {
    padding:10px;
    border:1px solid #E4E6EF;
    border-radius: 0.475rem;
    background-color:#FFFFFF;
    overflow-y:auto;
    white-space:pre-line;
}

/* text-div용 높이 */
.div-height-1 {
    height:42px;
    white-space:nowrap !important;
}

.min-h-42px {
    min-height:42px;
}

/* 테이블 비율 고정 */
.table-fixed {
    table-layout:fixed;
}

/* 사이드바 색상 고정 */
#kt_aside {
    background-color: rgb(36, 36, 36);
}

/* 사이드바 색상 고정 */
.strikethrough {
    text-decoration: line-through;
}

.badge {
    &.badge-outlined {
        background-color: transparent;
        border: 0.5px solid rgba(43,43,64,0.8) !important;
        &.badge-light-primary {
            background-color: #F1FAFF !important;
        }
        &.badge-primary, &.badge-light-primary {
            border-color: rgba(43,43,64,0.5) !important;
            color: #2196F3 !important;
            &:hover {
                background-color: #2196F3 !important;
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #2196F3 !important;
            }
        }
        &.badge-secondary {
            border-color: rgba(50,58,69,0.5) !important;
            color: #323a45 !important;
            &:hover {
                color: #323a45 !important;
                i {
                    color: #323a45 !important;
                }
            }
            i {
                color: #323a45 !important;
            }
        }
        &.badge-light-success {
            background-color: #1C3238 !important;
        }
        &.badge-success, &.badge-light-success {
            border-color: rgba(100,221,23,0.5) !important;
            color: #64DD17 !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #64DD17 !important;
            }
        }
        &.badge-light-warning {
            background-color: #FFF8DD !important;
        }
        &.badge-warning, &.badge-light-warning {
            border-color: rgba(255,214,0,0.5) !important;
            color: #FFD600 !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #FFD600 !important;
            }
        }
        &.badge-light-info {
            background-color: #F8F5FF !important;
        }
        &.badge-info, &.badge-light-info {
            border-color: rgba(41,182,246,0.5) !important;
            color: #29B6F6 !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #29B6F6 !important;
            }
        }
        &.badge-light-danger {
            background-color: #FFF8DD !important;
        }
        &.badge-danger, &.badge-light-danger {
            border-color: rgba(239,28,28,0.5) !important;
            color: #ef1c1c !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #ef1c1c !important;
            }
        }
    }
}

.btn {
    &.btn-outlined {
        background-color: transparent;
        border: 0.5px solid rgba(43,43,64,0.8) !important;
        &.btn-light-primary {
            background-color: #F1FAFF !important;
        }
        &.btn-primary, &.btn-light-primary {
            border-color: rgba(43,43,64,0.5) !important;
            color: #2196F3 !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #2196F3 !important;
            }
        }
        &.btn-secondary {
            background-color: #6c757d !important;
            border-color: rgba(50,58,69,0.5) !important;
            color: #6c757d !important;
            &:hover {
                background-color: #3c434a !important;
                color: #323a45 !important;
                i {
                    color: #323a45 !important;
                }
            }
            i {
                color: #323a45 !important;
            }
        }
        &.btn-light-success {
            background-color: #1C3238 !important;
        }
        &.btn-success, &.btn-light-success {
            border-color: rgba(100,221,23,0.5) !important;
            color: #64DD17 !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #64DD17 !important;
            }
        }
        &.btn-light-warning {
            background-color: #FFF8DD !important;
        }
        &.btn-warning, &.btn-light-warning {
            border-color: rgba(255,214,0,0.5) !important;
            color: #FFD600 !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #FFD600 !important;
            }
        }
        &.btn-light-info {
            background-color: #F8F5FF !important;
        }
        &.btn-info, &.btn-light-info {
            border-color: rgba(41,182,246,0.5) !important;
            color: #29B6F6 !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #29B6F6 !important;
            }
        }
        &.btn-light-danger {
            background-color: #FFF8DD !important;
        }
        &.btn-danger, &.btn-light-danger {
            border-color: rgba(239,28,28,0.5) !important;
            color: #ef1c1c !important;
            &:hover {
                color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            i {
                color: #ef1c1c !important;
            }
        }
    }
}

.dragging {
    background-color: #a9d9a4 !important;
    opacity: 75%;
}

.draggable-modified {
/*    border-color: #ed7000 !important;*/
/*    border-width: 1px !important;*/
    background-color: rgba(237,112,0, 0.1);
    animation: blink-effect 0.75s step-end infinite;
    -webkit-animation: blink 0.75s linear infinite;
}

/** tinymce 글접기 관련 */
.tinymce-section {
    margin-bottom: 10px;
}
.tinymce-collapse-toggle {
    cursor: pointer;
    font-weight: bold;
}
.tinymce-collapse-div {
    //
}
.tinymce-collapsed {
    display: none;
}

/** !override */
.text-decoration-underline {
    text-decoration: underline !important;
    text-underline-offset: 3px;
}
/** !override */
.text-underline-dotted {
    text-decoration: underline dotted;
    text-underline-offset: 3px;
}

/** cursors */
.cursor-default {
    cursor: default;
}
.cursor-help {
    cursor: help;
}
.cursor-progress {
    cursor: progress;
}
.cursor-cell {
    cursor: cell;
}
.cursor-crosshair {
     cursor: crosshair;
}
.cursor-text {
    cursor: text;
}
.cursor-alias {
    cursor: alias;
}
.cursor-copy {
    cursor: copy;
}
.cursor-move {
    cursor: move;
}
.cursor-no-drop {
    cursor: no-drop;
}
.cursor-not-allowed {
    cursor: not-allowed;
}
.cursor-grab {
    cursor: grab;
}
.cursor-grabbing {
    cursor: grabbing;
}
.cursor-zoom-in {
    cursor: zoom-in;
}

/* tag */
.ts-1 {
    font-size: 1em;
    color: #9ca5ad !important;
}
.ts-2 {
    font-size: 1.25em;
    color: #7c858d !important;
}
.ts-3 {
    font-size: 1.4em;
    color: #5c75ad !important;
}
.ts-4 {
    font-size: 1.6em;
    color: #5c8fb0 !important;
}
.ts-5 {
    font-size: 1.8em;
    color: #5c8fb0 !important;
}
.ts-6 {
    font-size: 2.1em;
    color: #5c8fb0 !important;
}
.ts-7 {
    font-size: 2.3em;
    color: #0d6efd !important;
}
.ts-8 {
    font-size: 2.5em;
    color: #0d6efd !important;
}
.ts-9 {
    font-size: 2.7em;
    color: #0d6efd !important;
    font-weight: bold !important;
}

/* bootstrap modal-xxl 추가 */
.modal-dialog.modal-xxl {
    max-width: 75%;
    width: auto;
}
