<#--
 * 레이아웃 > 댓글 등록 handlebars template
 -->

<script type="text/x-handlebars-template" id="comment_reg_template">
    <input type="hidden" name="postNo" value="{{postNo}}"/>
    <input type="hidden" name="refPostNo" value="{{refPostNo}}" />
    <input type="hidden" name="refContentType" value="{{refContentType}}" />
    <input type="hidden" name="actvtyCtgrCd" value="${actvtyCtgrCd!}" >

    <textarea name="cn" id="commentCn" class="form-control required w-100" rows="3" maxlength="1000">{{cn}}</textarea>
    <div id="commentCn_validate_span"></div>
</script>