<#--
 * 저널 꿈(jrnl_dream) > 태그 상세 Template
 * @included_in : _jrnl_dream_tag_dtl_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_dream_tag_dtl_modal_template">
    {{#each this}}
        <div class="row jrnl-item">
            <div class="col-1 d-flex-align-center flex-column py-3 border-2 border-gray-300 border-end ps-10 me-4 w-130px h-75 gap-2">
                {{> jrnl_day_mdf_btn_partial this postNo=this.jrnlDayNo}}
            </div>
            <div class="col py-3 jrnl-dream-cn {{#ifYn imprtcYn}}bg-secondary{{/ifYn}}">
                {{> jrnl_dream_cn_partial this collapse="collapse-4"}}
            </div>
            <div class="col-1 py-3 d-flex-between w-50px gap-1">
                {{> comment_reg_btn_partial this contentType="JRNL_DREAM"}}
            </div>
            <div class="col-1 ms-4 pe-0 border-2 border-gray-300 border-end h-75 w-10px">&nbsp;</div>
            <div class="col-1 py-3 d-flex-between w-100px gap-1">
                {{> jrnl_dream_mdf_btn_partial this}}
            </div>
        </div>
    {{/each}}
</script>