<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nicheblog.dreamdiary.global._common._clsf.comment.repository.mybatis.CommentMapper">

    <!-- 삭제 데이터 조회 -->
    <select id="getDeletedByPostNo" resultType="io.nicheblog.dreamdiary.global._common._clsf.comment.model.CommentDto">
        /* SectnMapper.getDeletedByPostNo */
        SELECT
            comment.post_no AS postNo,
            comment.ref_post_no AS ref_post_no,
            comment.ref_content_type AS ref_content_type
        FROM comment comment
        WHERE comment.post_no = #{postNo}
    </select>
</mapper>