<#--
 * 파일시스템 메타(flsys_meta) > 등록 Modal Template
-->

<script type="text/x-handlebars-template" id="flsys_meta_reg_template">
    <input type="hidden" name="filePath" value="{{filePath}}">
    <input type="hidden" name="upperFilePath" value="{{upperFilePath}}">
    <input type="hidden" name="postNo" value="{{postNo}}">
    <!--begin::Input group-->
    <div class="row mb-2">
        <div class="col-xl-2 col-2 col-form-label">
            <label class="fs-6 fw-bold mb-2">제목</label>
        </div>
        <div class="col-xl-7 col-6">
            <input type="text" name="title" id="title" class="form-control form-control-solid required"
                   value="{{title}}" placeholder="제목" maxlength="120" />
        </div>
        <div class="col-xl-2 col-2">
        </div>
        <div class="col-xl-10 col-10">
            <span id="title_validate_span"></span>
        </div>
    </div>
    <!--begin::Input group-->
    <div class="row mb-2">
        <div class="col-xl-2 col-2 col-form-label">
            <label class="fs-6 fw-bold mb-2">태그</label>
        </div>
        <div class="col-xl-7 col-6">
            <input type="text" name="tagListStr" id="tagListStr" class="form-control form-control-solid"
                   value="" maxlength="500" />
        </div>
        <div class="col-xl-2 col-2">
        </div>
        <div class="col-xl-10 col-10">
            <span id="tagListStrSpan"></span>
        </div>
    </div>
</script>