/**
 * 꿈 관련 css 내용을 정의한다.
 * @auther : nichefish
 */

/** ----------------------- */

.jrnl-day {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.jrnl-item {
    display: flex !important;
    flex-direction: row !important;
    justify-content: start;
    align-items: center;
    margin-bottom: 0.25rem !important;
}

.jrnl-diary-cn {
    align-items: center;
    p {
        margin-top: 0.1rem !important;
        margin-bottom: 0.1rem !important;
    }
}
.jrnl-dream-cn {
    align-items: center;
    p {
        color: rgba(95,0,130,0.8);
        margin-top: 0.1rem !important;
        margin-bottom: 0.1rem !important;
    }
}

.jrnl-sumry-cn {
    align-items: center;
    p {
        margin-top: 0.1rem !important;
        margin-bottom: 0.1rem !important;
    }
}
