<#--
 * 게시판 > 태그 상세 Template
 -->

<script type="text/x-handlebars-template" id="tag_property_reg_modal_template">
    <!-- form start -->
    <input type="hidden" name="tagPropertyNo" id="tagPropertyNo" value="{{tagPropertyNo}}">

    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-2 text-center">
            <label for="menuNm" class="col-form-label fw-bold"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="태그에 적용될 CSS 클래스를 입력합니다.">
                CSS 클래스
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-10">
            <div class="text-gray-600 ls-1">
                <input type="text" name="cssClass" id="cssClass" class="form-control d-inline-block required"
                       value="{{cssClass}}" placeholder="ex) text-primary text-underline-dotted" maxlength="200">
                <span id="cssClass_validate_span"></span>
            </div>
        </div>
    </div>
    <#--begin::Row-->
    <div class="row mb-4">
        <div class="col-2 text-center">
            <label for="menuNm" class="col-form-label fw-bold"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="태그에 적용될 CSS 스타일을 입력합니다.">
                CSS 스타일
                <i class="bi bi-question-circle"></i>
            </label>
        </div>
        <div class="col-10">
            <div class="text-gray-600 ls-1">
                <input type="text" name="cssStyle" id="cssStyle" class="form-control d-inline-block required"
                       value="{{cssStyle}}" placeholder="ex) color: red; font-weight:bold;" maxlength="200">
                <span id="cssStyle_validate_span"></span>
            </div>
        </div>
    </div>
</script>