/**
 * tag.scss
 *
 * @auther nichefish
 */

.ts-1 {
    font-size: 1em;
    color: #9ca5ad !important;
}

.ts-2 {
    font-size: 1.25em;
    color: #7c858d !important;
}

.ts-3 {
    font-size: 1.4em;
    color: #5c75ad !important;
}

.ts-4 {
    font-size: 1.6em;
    color: #5c8fb0 !important;
}

.ts-5 {
    font-size: 1.8em;
    color: #5c8fb0 !important;
}

.ts-6 {
    font-size: 2.1em;
    color: #5c8fb0 !important;
}

.ts-7 {
    font-size: 2.3em;
    color: #0d6efd !important;
}

.ts-8 {
    font-size: 2.5em;
    color: #0d6efd !important;
}

.ts-9 {
    font-size: 2.7em;
    color: #0d6efd !important;
    font-weight: bold !important;
}
