<#--
 * 저널 태그(jrnl_tag) > 카테고리 목록 Template
 * @included_in : _jrnl_tag_list_modal.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_tag_ctgr_template">
    <div class="btn btn-sm btn-outlined btn-light-secondary text-muted ctgr active"
         onclick="Tag.ctgrFilterAll(this);">
        전체
        <i class="bi bi-check ctgr"></i>
    </div>

    <div class="btn btn-sm btn-outlined btn-light-secondary text-muted ctgr defaultCtgr active"
         onclick="Tag.ctgrFilter('defaultCtgr');">
        카테고리 없음
        <i class="bi bi-check ctgr defaultCtgr"></i>
    </div>
    {{#each this}}
        <div class="btn btn-sm btn-outlined btn-light-secondary text-muted ctgr {{.}} active"
             onclick="Tag.ctgrFilter('{{.}}');">
            {{.}}
            <i class="bi bi-check ctgr {{.}}"></i>
        </div>
    {{/each}}
</script>